.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin: 3rem auto;
    border-radius: 6px;
    padding: 1rem;
    background-color: #eeeeee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input,
  select,
  button {
    border: 1px solid #656565;
    border-radius: 5px;
    padding: 0.7rem; 
    margin: 0.5rem 0; 
    width: 100%;
    box-sizing: border-box; 
  }
  
  button {
    background-color: #4CAF50;
    color: #ffffff;
    cursor: pointer;
    width: 35%;
    border: none;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  