.App {
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
  background-color: #d4d4d4;
}

h1{
  color: black;
}

button{
  font-style: bold;
}

p{
  color: black;
  font-size: 24px;
}